[submodule "deps/esp-idf"]
	path = deps/esp-idf
	url = https://github.com/espressif/esp-idf.git
	shallow = true
[submodule "deps/micropython"]
	path = deps/micropython
	url = https://github.com/micropython/micropython.git
	shallow = true
[submodule "deps/micropython-camera"]
	path = deps/micropython-camera
	url = https://github.com/cnadler86/micropython-camera-API.git
	shallow = true
[submodule "deps/micropython-st7789"]
	path = deps/micropython-st7789
	url = https://github.com/russhughes/st7789_mpy.git
	shallow = true
